@use '../../styles/colors' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.header{
    &__container{
        background-color: $primary;
        @include padding-mobile;
    }

    &__name{
        margin: 2rem 0 0 0;
    }
}

.searchbar{
    border: 1px solid $secondary;
    border-radius: 10px;
    background-color: white;
    margin: 1rem 0 0 0;
    padding: 0.25rem 0.5rem;
    display: flex;

    &__button{
        background-color: transparent;
        border: none;
    }
    &__icon{
        color: $primary;
        font-size: 1.5rem;
    }
    &__input{
        background-color: transparent;
        border: transparent;
        color: $primary;

        &::placeholder{
            color: $primary;
            font-size: 1rem;
        }
    }
}