@use '../../styles/colors' as *;
@use '../../styles/typography' as *;
@use '../../styles/mixins' as *;

.nav{
    background-color: $primary;


    &__container{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0 1rem;
    }

    &__item{
        list-style-type: none;
    }
}